body{
	margin:0px;
	padding:0px;
	background-image:url("img/image3.png");
	font-family:'Patrick Hand';
	font-size:22px;
}

.navbar{
	border-bottom:solid 2px white;
}

.jumbotron{
	position:relative;
	top:60px;
	background-image:url("img/image1.png");
	margin-bottom:50px;
	border-bottom:dotted 2px lightgrey;
}

img{
	border: solid 4px #031532; 
	background-color:white;
	position:relative;
	top:-10px;
}

h2{
	font-size:35px;
	text-align:center;
	font-weight:bold;
}
.jumbotron h3,h4{
	font-family:'Special Elite';
}

#allcontainers{
	margin-top:100px;
	margin-bottom:50px;

}
.progress{
	font-size:18px;
	margin-top:40px;
	height:30px;
}
.card{
	margin-top:20px;
}
.row{
	margin-top:20px;
}
footer{
	background-color:yellow;
	margin-top:170px;
	font-size:20px;
	border-top:solid 2px white;
}

@media screen and (max-width:500px){
	body{
		text-align:center;
	}
	#allcontainers{
		margin-top: 100px;
		margin-bottom:30px;
	}
}
